@media only screen and (max-width:768px){
    body{
        font-family: 'system-ui';
        margin: 0;
    }
    .navbar{
        /* position: fixed; */
    }
    .navbar1{
        background: #031f42;
        padding: 1rem 4rem;
        text-align: right;
        color: #fff;
        font-size: 20px;
    }

    .navbar2{
        display: flex;
        gap: 3rem;
        background: #ffffff;
        padding: 2rem;
        place-items: center;
        box-shadow: 0 0 5px rgba(51, 51,51,.8);
    }
    .nav_2a{
        margin-left: 4rem;
    }
    .nav_2b{
        font-size: 25px;
        font-weight: 600;
        color: aqua;
    }
    .nav_2b a{
        text-decoration: none;
    }
    .fa-magnifying-glass{
        color: #0071dc;
        font-weight: 600;
        background: #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 5px;
        padding: 1.5rem;
        padding-left: 3rem;
        position:absolute;
        line-height: 1;
    }
    .category{
        color: #54595F;
        place-items: right; 
        
    }
    .home {
        color: #0071dc;
        text-decoration: underline;
    
    }
    .nav_2c a,
    .nav_2d a,
    .nav_2e a,
    .nav_2f a,
    .nav_2g a,
    .nav_2h a{
        color: #444;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        &:hover{
            color: #0071dc;
            text-decoration: 3px underline;
        }
    }

    .nav_2j a{
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        color: #444;
        &:hover{
            color: #0071dc;
            text-decoration:  .5px #bdb0b0 underline;
        }

    }
    .nav_2k a{
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        color: #0071dc;
        background: #d3dce4;
        padding: 1rem 2rem;
        width: 50px;
        border-radius: 5px;
        &:hover{
            color: white;
            background: #0071dc;
        }
    }

    .fill{
        background-color: #fff;
        box-shadow: 0 0 10px rgba(51, 51,51,.8);
        border-radius: 3px;
        margin-top: 8rem;
        margin-left: 4rem;
        margin-right: 4rem;
        display: flex;
        padding: 0 10px 0 0;
        font-size: 18px;
        color: #696969;
        font-weight: 400;
        column-gap: .5rem;
        justify-items: centre;
    }

    .Account{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
        column-gap: rem;
        padding-left: 4rem;

    }
    .Acct_details h2,
    .profile_details h2{
        font-size: 50px;
        font-weight: 500;
        color: #000000;
    }
    .Account span{
        font-size: 20px;
        color: #171616;
        font-weight: 450;
    }
    .box_1 input{
        background-color: #f8f8f8;
        border: 2px solid #b71717;
        font-size: 18px;
        width: 450px;
        padding: 1.4rem;
        border-radius: 5px;
    }
    .box_2 input{
        background-color: #f8f8f8;
        border: 2px solid #b71717;
        font-size: 18px;
        width: 950px;
        padding: 1.4rem;
        border-radius: 5px;
    }
    .box_3 input{
        background-color: #f8f8f8;
        border: 2px solid #b71717;
        font-size: 18px;
        width: 450px;
        padding: 1.4rem;
        border-radius: 5px;
    }
    .Email_Addres{
        padding-left: 4rem;
        font-size: 18px;
        color: #171616;
        font-weight: 500;
    }
    .chose_pwd{
        padding-left: 4rem;
        padding-top: 2rem;
    }
    .chose_pwd span{
        font-size: 20px;
        color: #252525;
        font-weight: 500;
    }
    .empty_box input{
        background-color: #f8f8f8;
        border: 2px solid #eee;
        font-size: 18px;
        width: 10em;
        padding: 1.4rem;
        border-radius: 5px;
    }
    .fa-glasses{
        background-color: #0071dc;
        width: 40px;
        font-size: 30px;
        padding: 1rem;
        border-radius: 5px;
        color: #fff;
        &:hover{
            background-color: rgb(225, 194, 18);
            color: #000000;
        }
    }
    .strong{
        background-color: #66d66e;
        border: 1px solid #438c48;
        width: 120px;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 20px;
        color: #333;
        font-weight: 500;
        text-align: center;
    }
    .Hint{
        margin-left: 4rem;
        font-size: 18px;
        font-weight: 400;
        background-color: #fafafa;
        color: #696969;
        width: 450px;
        height: 150px;
    }
    .sign_up{
        padding-left: 4rem;
    }
    .sign_up input{
        background-color: #0071dc;
        color: #fff;
        font-weight: 700;
        border: 2px solid #eee;
        font-size: 25px;
        width: 300px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: goldenrod;
            color: #252525;
        }
    }
}