@media only screen and (min-width:768px){
    body{
        font-family: 'system-ui';
    }
    .Log_in_here{
        background-color: white;
        border: .5px solid rgb(193, 176, 176);
        width: 700px;
        height: 850px;
        margin-left: 30rem;
    }
    .Log_in_here h1{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        color: #252525;
    }
    .Log_Here{
        text-align: center;
    }
    .Log_Here span{
        font-size: 20px;
        color: #7A7A7A;
        font-weight: 500;
    }
    .Log_Here a{
        font-size: 20px;
        color: #445;
        font-weight: 500;
        &:hover{
            text-decoration: 2px solid #000000 underline;
        }
    }
    .username,
    .password{
        padding-left: 8rem;
    }
    .username a,
    .password a{
        color: #7A7A7A;
        text-decoration: none;
    }
    .username input{
        width: 400px;
        height: 5px;
        color: #252525;
        background-color: #f8f8f8;
        border: 5px solid #f5f5f5;
        border-radius: 5px;
        padding: 1.5rem;
        font-size: 20px;
        font-weight: 550;
    }
    
    .password_here{
        width: 400px;
        height: 4px;
        color: #252525;
        background-color: #f8f8f8;
        border: 5px solid #f5f5f5;
        border-radius: 5px;
        padding: 1.5rem;
        padding-bottom: 2rem;
        font-size: 20px;
        font-weight: 550;
        align-items: center;
    }
    
    .password input{
        outline: none;
        border: none;
        background: #f8f8f8;
        font-size: 20px;
        font-weight: 550;
        place-items: center;
    }
    .fa-eye{
        align-items: right;
        padding-left: 6rem;
        font-size: 15px;
    }
    .Reminder{
        display: flex;
        padding-left: 8rem;
        padding-top: 2rem;
        gap: 4rem;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 2rem;
    }
    
    .Reminder_1 a{
        color: #7A7A7A;
        text-decoration: none;
    }
    
    .Reminder_2 a{
        color: #7A7A7A;
        &:hover{
            text-decoration: #000000 2px underline;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    
    }
    
    .Reminder_3 {
        text-align: center;
    }
    .Reminder_3 input{
        width: 450px;
        padding: 1.5rem;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        background-color: #0071dc;
        border: 1px solid #0071dc;
        border-radius: 10px;
        &:hover{
            background-color: gold;
            color: #252525;
        }
    }
    .Reminder_4{
        display: flex;
        padding-top: 2rem;
        font-size: 20px;
        font-weight: 500;
        color: #696969;
        padding-bottom: 2.5rem;
    }
    .Google{
        display: flex;
        padding-left: 8rem;
        gap: 5px;
        .Gg_2 a{
            font-size: 20px;
            font-weight: 500;
            color: rgb(34, 49, 2);
            background-color: #043868;
            padding: 2rem;
            text-decoration: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover{
                color: #0071dc;
            }
        }
    }
    .handles{
        display: grid;
        padding-top: 2rem;
        padding-left: 8rem;
        row-gap: 2rem;
        font-size: 20px;
        font-weight: 500;
    }
    .handles a{
        text-decoration: none;
        color: #696969;
    
    }
    
    
    
    
}