@media only screen and (max-width:768px){

        body{
            font-family: 'system-ui';
        }
        
        .navbar{
            /* position: fixed; */
        }
        .navbar1{
            background: #031f42;
            padding: 1rem 4rem;
            text-align: right;
            color: #fff;
            font-size: 18px;
        }
    
        .navbar2{
            display: flex;
            gap: 3rem;
            background: white;
            padding: 2rem;
            place-items: center;
            margin-left: 2rem;
        }
    
        .navbar_2a{
            display: none;
        }
    
        .nav_2a{
            margin-left: 4rem;
        }
        .nav_2b{
            font-size: 25px;
            font-weight: 600;
            color: aqua;
        }
        .nav_2b a{
            text-decoration: none;
        }
        .fa-magnifying-glass{
            color: #0071dc;
            font-weight: 600;
            background: #F2F2F2;
            border-color: #F2F2F2;
            border-radius: 5px;
            padding: 1.5rem;
            padding-left: 3rem;
            /* position:absolute; */
            line-height: 1;
            display: none;
        }
        .category{
            font-size: 40px;
            color: #fff;
            place-items: right; 
            
        }
        .home {
            font-size: 40px;
            color: #fff;
            text-decoration: underline;
        
        }
        .nav_2c a,
        .nav_2d a,
        .nav_2e a,
        .nav_2f a,
        .nav_2g a,
        .nav_2h a{
            color: #fff;
            text-decoration: none;
            font-size: 40px;
            font-weight: 600;
            &:hover{
                color: #0071dc;
                text-decoration: 3px underline;
            }
        }
    
        .nav_2j a{
            font-size: 40px;
            text-decoration: none;
            font-weight: 600;
            color: #fff;
            &:hover{
                color: #0071dc;
                text-decoration:  .5px #bdb0b0 underline;
            }
    
        }
        .nav_2k a{
            font-size: 40px;
            text-decoration: none;
            font-weight: 600;
            color: #a5c9eb;
            &:hover{
                color: white;
                /* background: #0071dc; */
            }
        }
        
        .mobil_nav{
            display: none;
            background-color: rgb(20, 6, 34);
            color: #FFFFFF;
            gap: 3rem;
            font-size: 30px;
            text-align: left;
            padding: 2rem;
            border-bottom: 8px solid#f8f8f8;
        }
        .mobil_nav a{
        }
    
        #toggleBTN{
            margin-left: 8rem;
            font-size: 1.2rem;
            background-color: #fff;
            padding: .8rem;
            cursor: pointer;
        }
        .Sign_Up{
            background-color: #fff; 
            border: 2px solid #f8f8f8; 
            width: 600px;
            height: 700px; 
            margin-left: 1rem; 
        }
        .Sign_Up h1{
            color: #252525;
            font-size: 40px;
            font-weight: 500;
            text-align: center;
        }
        .qstn{
            color: #696969;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
        }
        .qstn a{
            color: #444;
            &:hover{
                text-decoration: 2px solid #252525 underline;
            }
        }
    
        .Sign_up_here{
            /* text-align: center; */
        }
        .user,
        .user_Email{
            display: flex;
            padding-left: 4rem;
            column-gap: 1rem;
        }
        .firstname h2,
        .lastname h2{
            font-size: 20px;
            font-weight: 600;
            color: #445;
        }
        .user input,
        .user_Email input{
            background: #f8f8f8;
            border: 2px solid #f5f5f5;
            padding: 1rem;
            width: 200px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 500;
            color: #696969;
        }
        .username h2,
        .email h2,
        .Pword h2,
        .Re_Pword h2{
            font-size: 20px;
            font-weight: 600;
            color: #445;
            padding-top: 1rem;
        }
    
        
        .password{
            display: flex;
            padding-left: 4rem;
            column-gap: 1rem;
        } 
        .pword,
        .rePword{
            border: none;
            width: 200px;
            background-color: #f8f8f8;
            border: 2px solid #f5f5f5;
            border-radius: 5px;
            padding: 1rem;
            display: flex;
        } 
        
        .pword input,
        .rePword input{
            border: none;
            outline: none;
            background-color: #f8f8f8;
            font-size: 15px;
            font-weight: 500;
            color: #696969;
        }
        .fa-eye{
            font-size: 15px;
            padding-right: .5rem;
        }
    
        .terms{
            padding-left: 4rem;
            padding-top: 2rem;
            font-size: 20px;
            font-weight: 450;
            color: #444;
            padding-bottom: 1rem;
        }
        .register{
            padding-left: 4rem;
        }
        .register input{
            width: 300px;
            padding: 1rem;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            background-color: #0071dc;
            border: 1px solid #0071dc;
            border-radius: 5px;
            &:hover{
                background-color: gold;
                color: #252525;
            }
        }
    
}