@media only screen and (min-width:768px) {
    body{
        font-family: 'system-ui';
        margin: 0;
    }
    .navbar{
        /* position: fixed; */
    }
    .navbar1{
        background: #031f42;
        padding: 1rem 4rem;
        text-align: right;
        color: #fff;
        font-size: 20px;
    }

    .navbar2{
        display: flex;
        gap: 3rem;
        background: white;
        padding: 2rem;
        place-items: center;
        margin-left: 2rem;
    }
    .nav_2a{
        margin-left: 4rem;
    }
    .nav_2b{
        font-size: 25px;
        font-weight: 600;
        color: aqua;
    }
    .nav_2b a{
        text-decoration: none;
    }
    .fa-magnifying-glass{
        color: #0071dc;
        font-weight: 600;
        background: #F2F2F2;
        border-color: #F2F2F2;
        border-radius: 5px;
        padding: 1.5rem;
        padding-left: 3rem;
        position:absolute;
        line-height: 1;
    }
    .category{
        color: #54595F;
        place-items: right; 
        
    }
    .home {
        color: #0071dc;
        text-decoration: underline;
    
    }
    .nav_2c a,
    .nav_2d a,
    .nav_2e a,
    .nav_2f a,
    .nav_2g a,
    .nav_2h a{
        color: #444;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        &:hover{
            color: #0071dc;
            text-decoration: 3px underline;
        }
    }

    .nav_2j a{
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        color: #444;
        &:hover{
            color: #0071dc;
            text-decoration:  .5px #bdb0b0 underline;
        }

    }
    .nav_2k a{
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
        color: #0071dc;
        background: #d3dce4;
        padding: 1rem 2rem;
        width: 50px;
        border-radius: 5px;
        &:hover{
            color: white;
            background: #0071dc;
        }
    }
    .Torbita_banner{
        background: url('../img/Torbita_staff_3.jpg');
        height: 900px;
        background-size: cover;
        
    }
    .Linear_banner{
        background: linear-gradient(#000000, 
        rgba(0, 0, 0, 0.4));
        height: 900px;
    }
    .banner1{
        place-items:center;
        color: white;
        padding: 25rem 2rem 0rem 6rem;
    }
    .banner1 h1{
        font-size: 70px;
        font-weight: bold;
    }
    .banner1 h3{
        font-size: 30px;
        place-items: center;
    }
    .banner2{
        text-align: center;
    }
    .banner2 a{
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border: 1px solid white;
        background: #031f42;
        border-radius: 15px;
        padding: 1rem;

    }
    .heading{
        font-size: 50px;
        text-align: center;
        color: #181717;
    }
    .Aim_catlogue{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding-left: 6rem;
        padding-right: 4rem;
        gap: 2rem;
    }
    .Aim_1 ,
    .Aim_2 , 
    .Aim_3 {
        box-shadow:0px 0px 10px 0px rgba(51, 51, 51, 0.15);
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 32px 30px 20px 30px;
        text-align: center;

    }
    .Aim_4,
    .Aim_5,
    .Aim_6{
        box-shadow:0px 0px 10px 0px rgba(51, 51, 51, 0.15);
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 32px 30px 20px 30px;
        text-align: center;

    }

    .sub_head h3 {
        font-size: 30px;
        color: #444;
    } 
    .Aim_1 a,
    .Aim_2 a,
    .Aim_3 a{
        text-decoration: none;
        color: #444;
        &:hover{
            background-color: 
            transition: 
            all 0.3s cubic-bezier(0.175,0.885, 0.32, 3.275);
        }
    }
    .Aim_4 a,
    .Aim_5 a,
    .Aim_6 a{
        text-decoration: none;
        color: #444;
    }
    .sub_head p{
        font-size: 20px;
    }
    .start_now,
    .learn_more{
        border: 2px light #bdb0b0;
        background-color: white;
        color: #fff;
        padding: 1rem;
        width: 400px;
        font-size: 20px;
        border-radius: 10px;
        &:hover{
            background-color: #d3dce4;
            color: #000000;
            font-weight: bold;
        }
    }
    .torbita_skills{
        display: flex;
        /* grid-template-columns: repeat(auto-fill, minmax(200px,1fr)); */
        gap: 15rem;
        padding: 4rem 6rem;
    }
    .skills_list p{
        color: #0F14EC;
        font-size: 25px;
        font-weight: 500;
        padding-left: 3rem;

    }
    .skills_list h2{
        font-size: 50px;
        font-weight: 800;
        display: block;
        text-align: center;
        color: #181717;
    }
    .skills_list_1{
        font-size: 20px;
        display: grid;
        font-weight: 400;
        color: #444;
        line-height: 26px;
    
    }
    .skills_list ul{
        font-size: 20px;
        color: #444;
        display: grid;
        line-height: 26px;
    }
    .staff_photo img{
        width: 900px;
        padding-top: 15rem;
        place-items: right;
    }
    .learn{
        background-color: #0071dC;
        padding: .8rem;
        width: 150px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }
    .learn a{
        color: white;
        text-decoration: none;
        place-items: center;
    }
    .Torbita_categories{
        border: 2px light #444;
        background: #f8f8f8;
        padding-bottom: 8rem;
    }
    .Torbita_categories h1{
        font-size: 60px;
        color: #181717;
        font-weight: 500;
        padding-left: 6rem;
        padding-top: 4rem;
    }
    .category_list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        padding-left: 6rem;
        padding-right: 4rem;
    }
    .List_1 {
        display: flex;
        gap: 2rem;
        place-items: center;
        background: transparent;
        border: 4px solid #eee;
        box-shadow: none;
        width: 300px;
        height: 90px;
        padding: 2rem;
        border-radius: 8px;
        &:hover{
            background-color: white;
        }

    }
    .List_1 div{
        font-size: 25px;
        color: #696969;
        place-items: center;
        &:hover{
            color:#0071dC;
            font-weight: 500;
        }

    }
    .List_1 a{
        text-decoration: none;
    }

    .torbita_Advert{
        background-color: #0071dC;
        padding: 1.5rem;
    }
    .Advert_list{
        display: flex;
        gap: 8rem;
        padding-left: 6rem;

    }
    .Advert{
        display: flex;
        place-items: center;
        column-gap: 2rem;
        row-gap: .5rem;
        font-size: 20px;
        color: #ffff;
        font-weight: bold;
    }
    .popular_category h1{
        font-size: 50px;
        text-align: center;
        color: #181717;
    }
    .P_category{
        display: flex;
        gap: 1rem;
        padding-right: 4rem;
        justify-content: right;
        padding-bottom: 2rem;
    }
    .web_dev a{
        color: #0071dc;
        font-size: 20px;
        text-decoration: none;
        background-color: #FFFFFF;
        border: 2px solid #eee;
        border-radius: 3px;
        padding: 7px 20px;
        font-weight: 500;
        box-sizing: border-box;
    }
    .Soft_E a,
    .Data_sci a,
    .Security_admin a{
        color: #696969;
        font-size: 20px;
        text-decoration: none;
        background-color: #f8f8f8;
        border: 2px solid #eee;
        border-radius: 3px;
        padding: 7px 20px;
        font-weight: 500;
        box-sizing: border-box;
        &:hover{
            background: white;
        }
    }
    .torbita_trainings{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 4rem 8rem;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        ::-webkit-scrollbar{
            width: fit-content;
        }
    }

    .img_holder img{
        width: 350px;
        gap: 2rem;
        border-radius: 5px;
        &:hover{
            scale: 1.1;
            transition: all 1.5s cubic-bezier(0,0,.2,1);
        }
    }

    .training_1 span {
        background: rgba(108, 189, 126, 0.15);
        color: #6cbd7e;
        font-size: 18px;
        font-weight: 500;
        padding: 4px 12px;
        display: inline-block;
        line-height: 18px;
        border-radius: 3px;
    }

    .Training_title a{
        color: #181717;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        &:hover{
            color: #0071dc;
            font-weight: 500;
        }
    }
    .Training_school a{
        text-decoration: none;
        font-size: 18px;
        color: #0071dC;
        display: inline;
        &:hover{
            color: gold;
        }
    }
    .Student_Review{
        background-color: #efebeb;
        padding-bottom: 16rem;
    }
    .Student_Review h1{
        font-size: 50px;
        color: #252525;
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 4rem;
        font-weight: 500;

    }
    .Reviews{
        display: grid;
        grid-auto-flow: column;
        padding-left: 8rem;
        gap: 2rem;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        ::-webkit-scrollbar{
            width: fit-content;
        }
    }
    .Re_views{
        border-radius: 10px;
        background-color: #ffffff;
        padding: 2rem;
        width: 400px;
        height: 500px;
        padding-left: 4rem;
    }
    .Re_views span{
        font-size: 25px;
        line-height: 32px;
        color: #696969;
        font-weight: 500;

    }
    .Re_views h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: #252525;
        padding-top: 2rem;
    }
    .review_avatar{
        padding-top: 3rem;
    }
    .review_avatar img{
        width: 100px;
        border-radius: 110px;
        display: grid;
        justify-content: center;
    }
    .Re_views p{
        color: #ece2e2;
        display: flex;
        font-size: 30px;
        padding: none;
        justify-content: right;
    }
    .torbita_footer{
        background-color: rgb(5, 5, 30);
        padding-bottom: 4rem;
    }

    .footer_container{
        display: flex;
        color: white;
        padding: 1rem 8rem;
        column-gap: 4rem;
    }
    .line_1{
       font-size: 20px;
       font-weight: 500; 
    }
    .line_1 h3{
        font-size: 25px;
        font-weight: 500;
    }
    .line_2A{
        display: grid;
        row-gap: 1rem;
        
    }

    .line_2 h3{
        font-size: 25px;
        font-weight: 500;
    }
    .line_2A a,
    .line_3A a{
        color: #FFFFFF;
        font-size: 20px;
        text-decoration: none;
        &:hover{
            color: #cf2e2e;
        }
    }
    
    .line_3A{
        display: grid;
        row-gap: 1rem;
        padding-left: 4rem;
    }
    .line_3 h3{
        padding-left: 4rem;
        font-size: 25px;
        font-weight: 500;
    }
    .line_4{
        font-size: 20px;
        padding-left: 8rem;
    }
    .line_4 h2{
        background: transparent;
    }
    .copyright{
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }

}